In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [26]:
raw_data=pd.read_csv('diabetes_prediction_dataset.csv')
raw_data.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [27]:
raw_data.tail()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [28]:
raw_data.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [29]:
raw_data['smoking_history'].unique()

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [30]:
#checking for na values
raw_data.isna().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [31]:
from sklearn import train_test_split

ImportError: cannot import name 'train_test_split' from 'sklearn' (C:\Users\Kushan Gayantha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\__init__.py)

In [32]:
X=raw_data.drop(['diabetes'],axis=1)

In [33]:
X.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
0,Female,80.0,0,1,never,25.19,6.6,140
1,Female,54.0,0,0,No Info,27.32,6.6,80
2,Male,28.0,0,0,never,27.32,5.7,158
3,Female,36.0,0,0,current,23.45,5.0,155
4,Male,76.0,1,1,current,20.14,4.8,155

In [34]:
Y=raw_data[['diabetes']]

In [35]:
Y.head()

   diabetes
0         0
1         0
2         0
3         0
4         0

In [36]:
Y.value_counts()

diabetes
0           91500
1            8500
dtype: int64

In [37]:
X.shape

(100000, 8)

In [38]:
X['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [39]:
#import the label incoder from sklearn
from sklearn.preprocessing import LabelEncoder

In [40]:
encoder=LabelEncoder()

In [41]:
encoded_gender=encoder.fit_transform(X['gender'])

In [42]:
encoded_gender.size

100000

In [43]:
encoded_gender

array([0, 0, 1, ..., 1, 0, 0])

In [44]:
X['gender']=encoded_gender

In [45]:
X.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
0,0,80.0,0,1,never,25.19,6.6,140
1,0,54.0,0,0,No Info,27.32,6.6,80
2,1,28.0,0,0,never,27.32,5.7,158
3,0,36.0,0,0,current,23.45,5.0,155
4,1,76.0,1,1,current,20.14,4.8,155

In [46]:
encoded_sm_history=encoder.fit_transform(X['smoking_history'])

In [ ]:
encoded_sm_history

In [ ]:
X['smoking_history']=encoded_sm_history

In [ ]:
X.head()

In [ ]:
#scaling the data
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()

In [ ]:
X[['bmi']].max()

In [ ]:
X[['bmi']].min()

In [ ]:
X[['blood_glucose_level']].max()

In [ ]:
X[['blood_glucose_level']]=scaler.fit_transform(X[['blood_glucose_level']])

In [ ]:
X.head()

In [ ]:
plt.scatter(X['gender'],X['blood_glucose_level'])
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3)

In [ ]:
x_train.head()

In [ ]:
x_train.shape

In [ ]:
# importing the model
from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()

In [ ]:
model.fit(x_train,y_train)

In [ ]:
model.get_params

In [ ]:
model.intercept_

In [ ]:
model.score(x_test,y_test)

In [ ]:
#importing models from cross validation
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [ ]:
svr_mode=SVC()
li_model=LinearRegression()
lo_model=LogisticRegression()
d_model=DecisionTreeRegressor()

In [ ]:
lo_model.fit(x_train,y_train)
lo_model.score(x_test,y_test)

In [ ]:
d_model.fit(x_train,y_train)
d_model.score(x_test,y_test)

In [ ]:
from sklearn.model_selection import KFold

In [ ]:
kf=KFold(n_splits=10)

In [ ]:
for train_index,test_index in kf.split(X,Y):
    print(train_index,test_index)

In [ ]:
def get_socre(model,xtrain,xtest,ytrain,ytest):
    model.fit(xtrain,ytrain)
    return model.score(xtest,ytest)

In [ ]:
get_socre(li_model,x_train,x_test,y_train,y_test)

In [ ]:
from sklearn.model_selection import StratifiedKFold

In [ ]:
folds=StratifiedKFold(n_splits=10)

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
cross_val_score(li_model,X,Y,cv=10).mean()

In [24]:
cross_val_score(lo_model,X,Y,cv=10).mean()

NameError: name 'cross_val_score' is not defined

In [ ]:
cross_val_score(d_model,X,Y,cv=10).mean()

In [ ]:
cross_val_score(svr_mode,X,Y,cv=10).mean()

In [ ]:
svr_mode.fit(x_train,y_train)

In [ ]:
svr_mode.score(x_test,y_test)

since the logistic regrassion model is performing better i use that model for furtur processes